<% @post.comments.each do |comment| %>
	<div class="well">
		<p><strong><%= comment.username %>&nbsp</strong>:&nbsp<%=comment.body %> <br>
		<small><%= time_ago_in_words(comment.created_at) %> ago</small>
		<div class="show">
		<%= link_to "Edit",  edit_post_comment_path(comment.post,comment), :class => 'btn btn-xs btn-warning' %>
		<%= link_to 'Delete', [comment.post, comment],
					method: :delete,
					data: { confirm: 'Are you sure?'},
					:class => 'btn btn-xs btn-danger'%></div>
		</p>
	</div>
<% end %>