<h1>Blog Posts</h1>
<% @posts.each do |post| %>
	<div class="well">

		<h3><%= post.title %></h3>
		<p><%= truncate(post.body, :length => 100) %></p>
		<%= link_to "Read More", post_path(post), :class => 'btn btn-default' %>

		<small class='right'>
			<strong>Posted By : </strong>
		<%= post.user.username%> on 
		<%=post.created_at.strftime("%B %d, %Y")%>
		</small>

	</div>
<% end %>

<%= will_paginate @posts, renderer: BootstrapPagination::Rails, previous_label: "Newer", next_label: "Older" %>
