<%= link_to "Back",posts_path, :class => 'btn btn-sm btn-primary'%>
<div class="well-sm">
<h2><%= @post.title %></h2>
<p>
	<div class="well"><%= @post.body %></div>
</p>
<small>
	<strong>Posted : </strong>
	<%= time_ago_in_words(@post.created_at)%> ago by
	<%= link_to @post.user.username,user_path(@user) %>
</small>
</div>
<hr>
<% if @post.user == current_user%>
	<%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-warning' %>
	<%= link_to "Delete", post_path(@post),
					method: :delete,
					data: {confirm: 'Are you sure?'},
					:class => 'btn btn-danger' %>
<hr>
<%end%>
<div id="comments">
	<h2><%= pluralize(@post.comments.count,"Comment") %></h2>
</div>

<%= render 'comments/partials/comments' %>
<%= render 'comments/partials/form' %>